# ignored
.vscode/
.release/*
.utils/*.csv
.utils/node_modules/
Libs/*

# excluded
!.release/*.sh
!Libs/md5.lua
!Libs/sha256.lua
!Libs/base64.lua
!Libs/json.lua
!Libs/utf8.lua
!Libs/qrcode.lua
!Libs/FAIAP.lua