# ignored
.vscode/
.release/*
.utils/*.csv
Libs/*

# excluded
!.release/*.sh
!.release/build_western_fonts.py
!.release/requirements-fonts.txt
!Libs/md5.lua
!Libs/sha256.lua
!Libs/base64.lua
!Libs/json.lua
!Libs/utf8.lua
!Libs/qrcode.lua
!Libs/FAIAP.lua
